* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 355px;
  max-width: 35vh;
  height: 355px;
  max-height: 35vh;
}

.cella {
  width: 10%;
  height: 10%;
  background-color: lightgrey;
  border: 1px solid black;
}

.brown {
  background-color: brown;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.display-none {
  display: none;
}

#punteggio {
  font-size: 40px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
#difficolta {
  font-size: 30px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 85%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 5vw;
  text-align: center;
}
#testo {
  font-size: 6vw;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ok {
  font-size: 7vw;
  cursor: pointer;
  height: 20%;
  background-color: yellowgreen;
  border-bottom-right-radius: 5vw;
  border-bottom-left-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-none {
  display: none;
}
