* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  position: absolute;
  width: 40vw;
  height: 40vw;
}

.container > div {
  width: 10%;
  height: 10%;
  border: 1px solid black;
}

.brown {
  background-color: brown;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

#input {
  font-size: 3vw;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#input::placeholder {
  font-size: 2.5vw;
}

#gioca {
  font-size: 6vw;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

#punteggio {
  font-size: 4vw;
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translateX(-50%);

}
